.white
{
    width:80% ;
    font-size: 22px;
}
body{
    background-color: forestgreen;
    color: ghostwhite;
}
.bold
{
    color: aqua;
}
#black
{
    border: 2px dashed black;
    width: 350px;
    height: 300px;
}
#object,#accuracy
{
color: yellow;
}